body {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* header styles */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;

    background-color: #1F2937;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.links {
    display: flex;
    gap: 16px;
}

a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

/* main section styles */

.section-main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 32px;
    gap: 48px;

    background-color: #1F2937;
}

.main-text {
    max-width: 400px;
}

.main-header {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 1000;
    margin: 0;
    padding: 0;
}

.main-description {
    color: #E5E7EB;
    font-size: 18px;
    margin: 0;
    padding-bottom: 8px;
}

.bt-main {
    background-color: #3882F6;
    color: #F9FAF8;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 6px;
    border-color: #3882F6;
}

.main-image {
    
}

/* images section styles */

.section-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;

    background-color: white;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 32px;
}

.images-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: 1000;
}

.image-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-text {
    max-width: 200px;
    padding: 0;
    margin-top: 8px;

    color: grey;
    font-size: 18px;
    padding-bottom: 8px;
}

/* quote section styles */

